[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oceanexplorer"]
	path = oceanexplorer
	url = https://github.com/martinschobben/oceanexplorer
